<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>搜尋歷史紀錄</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/search_history.css') }}">
        <link rel="icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
    </head>
    <body>
        <div class="background-container">
            <img src="{{ url_for('static', filename='picture/university_logo.png') }}" class="background-watermark">
        </div>
        <header>
            <h1>國立中正大學 通訊工程學系</h1>
            <h2>物品管理系統</h2>
        </header>

        <main>
            <h3 class="admin-title">搜尋歷史紀錄</h3>
            <form id="searchHistoryForm" class="search-history-form" action="{{ url_for('search_results') }}" method="POST">
                <div class="form-group">
                    <label>借出時間：</label>
                    <input type="text" id="borrowDate" name="borrowDate">
                </div>
                <div class="form-group">
                    <label>歸還時間：</label>
                    <input type="text" id="returnDate" name="returnDate">
                </div>
                <div class="form-group">
                    <label for="studentId">學生證卡號：</label>
                    <input type="text" id="studentId" name="studentId">
                </div>
                <div class="form-group">
                    <label for="propertyNumber">財產編號：</label>
                    <input type="text" id="propertyNumber" name="propertyNumber">
                </div>
                <div class="form-group">
                    <label for="note">備註：</label>
                    <input type="text" id="note" name="note">
                </div>
                <div class="button-container">
                    <a href="{{ url_for('admin') }}" class="btn btn-return">返回管理員介面</a>
                    <button type="submit" class="btn btn-submit">搜尋</button>
                </div>
            </form>
        </main>

        <footer>
            <p>國立中正大學 人工智慧實驗室</p>
            <p>© 2024 Artificial Intelligence Laboratory</p>
        </footer>
    </body>
</html>