<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>伺服器資訊</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/item_list.css') }}">
        <link rel="icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
    </head>
    <body>
        <div class="background-container">
            <img src="{{ url_for('static', filename='picture/university_logo.png') }}" class="background-watermark">
        </div>
        <header>
            <h1>{{ site_header_title }}</h1>
            <h2>物品管理系統</h2>
        </header>
        
        <main>
            <div class="content-wrapper">
                <div class="header-section">
                    <a href="{{ url_for('admin') }}" class="return-button">返回管理員介面</a>
                    <h3>伺服器資訊</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>項目</th>
                            <th>內容</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,value in data.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>最新版本</td>
                            <td><a href="{{ release[1] }}">{{ release[0] }}</a> (更新時間: {{ release[2] }})</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        
        <footer>
            <p>國立中正大學 人工智慧實驗室</p>
            <p>© 2024 Artificial Intelligence Laboratory</p>
        </footer>
    </body>
</html>