<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >

        <title>登入</title>
        <script language='javascript'>
            function FormLoad(){
                document.form1.username.focus();	
            }		
        </script>
    </head>

    <body>
        <div class="background-container">
            <img src="{{ url_for('static', filename='picture/university_logo.png') }}" class="background-watermark">
        </div>

        <header>
            <h1>{{ site_header_title }}</h1>
            <h2>物品管理系統</h2>
        </header>

        <main>
            <div class="container">
                <h3>登入</h3>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="USER">帳號：</label>
                        <input name='username' type='text' id='username' maxlength='18'>
                    </div>
                    <div class="form-group">
                        <label for="PSWD">密碼：</label>
                        <input name='password' type='password' id='password' maxlength='20'>
                    </div>
                    <div class="button-group">
                        <div>
                            <input type='submit' value='登入'>
                            <input type='reset'  value='重設'>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        
        <footer>
            <p>國立中正大學 人工智慧實驗室</p>
            <p>© 2024 Artificial Intelligence Laboratory</p>
        </footer>
    </body>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
</html>