<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="zh-Hant-TW">
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sheet.css') }}">
        <link rel="icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'picture/object-icon-2.ico') }}" type="image/x-icon" >
        <title>表單</title>
    </head>

    <body>
        <div class="background-container">
            <img src="{{ url_for('static', filename='picture/university_logo.png') }}" class="background-watermark">
        </div>
        <header>
            <h1>{{ site_header_title }}</h1>
            <h2>物品管理系統</h2>
        </header>
        <main>
            <div class="container">
                <h3>表單</h3>
                <form action="/process_database/borrow_and_return" method="post">
                    <div class="form-group">
                        <label for="item_id">物品流水號：</label>
                        <input name='item_id' type='text' id='item_id' value="{{datas['item_id']}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="item_name">物品名稱：</label>
                        <input name='item_name' type='text' id='item_name'  value="{{datas['item_name']}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="item_number">財產編號：</label>
                        <input name='item_number' type='text' id='item_number' value="{{datas['item_number']}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="borrow_date">借出時間：</label>
                        <input name='borrow_date' type='text' id='borrow_date' value="{{datas['borrow_date']}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="return_date">歸還時間：</label>
                        <input name='return_date' type='text' id='return_date' value="{{datas['return_date']}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="person">學生證卡號：</label>
                        <input name='person' type='text' id='person' maxlength='20'>
                    </div>
                    <div class="form-group">
                        <label for="person">借出人員卡號：</label>
                        <input name='person' type='text' id='person' maxlength='20'>
                    </div>
                    <div class="form-group">
                        <label for="note">備註：</label>
                        <input name='note' type='text' id='note' maxlength='20'>
                    </div>
                    <input name='new_id' type='hidden' id='new_id' value="{{datas['new_id']}}">
                    <div class="button-group">
                        <input type='submit' value='送出'>
                        <input type='reset'  value='重設'>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <p>國立中正大學 人工智慧實驗室</p>
            <p>© 2024 Artificial Intelligence Laboratory</p>
        </footer>
    </body>
</html>